.google-logo{
    height: 100px;
    width: 300px;
    Text-align: center;
    margin-top:  250px;
}
.container{
    text-align: center;
    margin-top: 250px;
}
.search{
    width:640px;
    margin:0 auto;
    border: 1px solid gray;
    border-radius:25px;

}
.search-bar{
    margin:0 auto;
    width: 550px;
    padding-top: 20px;
    font-size: 18px;
    border:none;
    outline:none;
    padding-top:15px;
    margin-bottom:10px;
}

.search-icon{
    position: relative;
    height: 20px;
    margin-top:10px;
    width: 20px;
    /*margin-left:-7px;*/


}
.button-container{
    margin-top:2%;
    text-align: center;
    font-size:40px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;



}

.search button{
    height:40px;
    border:none;
    color:#646464;
    background: white;
    text-align: center;
}
.search-button:hover{
    color:rgb(153, 55, 55);
    border:1px solid lightgray;
    text-align: center;
}